
# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Local secrets
.env

# Data (keep folder structure, not files)
data/raw/*
data/interim/*
data/processed/*
data/external/*
!data/**/.gitkeep
